#featured {
    img {
    height: 100%;
    object-fit: cover;
   
  }

  .card { /*é mesma coisa que fazer um .card::before, mas como está dentro da propria tag fica dessa outra forma*/
    border-radius: 4px; 
    overflow: hidden; /*para esconder o que etá trasbordanfo na caixa, se estiver escrito uma legenda ele esconde*/
    position: relative;/*porque está relativo ao card*/
    
    &::before {
      content:"";  
      position: absolute;/*encima do card todo*/
      inset:0;
      top: 50%;/*para o degrade começar no meio*/
      background: linear-gradient(
        180deg, /*sentido do degrade*/
        transparent 0%, /*percentual de onde começa a tranparência*/
        #020617 100% /*percentual de onde termina a tranparência*/
      );
    } 

    figcaption {
      position: absolute; 
      bottom: 0;

      padding:24px;

      &:has(.text-lg) { /*a figcaption que tem(:has) essa classe .text-lg recebe essas propriedades*/
        padding:12px ;
      }

      h2 {
        margin-top: 8px;
      }

    }
  }
}
