section header { /* toda section que tiver heaser dentro vai receber essa propriedades, indepentede da class */
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);

   a { /* link do ver tudo*/
    justify-self: end; /* para o link ir para o fim da linha horizontal*/
    align-items: center;
    gap: 8px;

    span {
      background-image: url(../assets/icons/ArrowRight.svg); /* o ícone da seta está em outra pasta por isso os dois pontos ..*/
      width: 16px;
      height: 16px;
    }

    &:hover span {
      background-image: url(../assets/icons/ArrowRight-hover.svg);
    }
  }
}

#featured {
    img {
    height: 100%;
    object-fit: cover;
   
  }

  .card { /*é mesma coisa que fazer um .card::before, mas como está dentro da propria tag fica dessa outra forma*/
    border-radius: 4px; 
    overflow: hidden; /*para esconder o que etá trasbordanfo na caixa, se estiver escrito uma legenda ele esconde*/
    position: relative;/*porque está relativo ao card*/
    
    &::before {
      content:"";  
      position: absolute;/*encima do card todo*/
      inset:0;
      top: 50%;/*para o degrade começar no meio*/
      background: linear-gradient(
        180deg, /*sentido do degrade*/
        transparent 0%, /*percentual de onde começa a tranparência*/
        #020617 100% /*percentual de onde termina a tranparência*/
      );
    } 

    figcaption {
      position: absolute; 
      bottom: 0;

      padding:24px;

      &:has(.text-lg) { /*a figcaption que tem(:has) essa classe .text-lg recebe essas propriedades*/
        padding:12px ;
      }

      h2 {
        margin-top: 8px;
      }

    }
  }
}

#weekly {

  &>div { /* primeira div da weekly*/
    grid-template-columns: repeat(4,292px); /* para repetir 4 colunas de forma flexcível(fr) ou com a medida fixa em px*/
  }

  img {
    height:160px
  }

  figure {
    position: relative;

    .content-tag {
      position: absolute;
      top: 8px;
      left: 8px;
    }
    
    p {
      margin-top: 8px;
      font-weight: 800;
    }
  }
}
