
/* classe utilitária */
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column; /* coloca os elementos em colunas de forma automática */
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}